* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: lightgray;
    font-size: 1.2rem;
    font-family: 'Source Code Pro', monospace;
}

.intro {
    margin: 3rem;
    width: 80rem;
}

.example {
    margin: 3rem;
    white-space: nowrap;
}

input {
    font-size: 1.2rem;
    font-family: 'Source Code Pro', monospace;
}

button {
    font-size: 1.2rem;
}

